/* CV Specific Styles */

.cv-avatar {
    float: right;
    border-radius: 50%;
    margin-left: 20px;
    border: 2px solid #305a8e;
    width: 120px;
}

.cv-logo {
    height: 25px !important;
    width: auto !important;
    vertical-align: bottom !important;
    margin-right: 8px !important;
    display: inline !important;
    position: relative !important;
    top: -6px !important;
}

/* Ensure headers don't clip the floating avatar */
.page-content {
    overflow: auto;
}
