:root {
    --minima-brand-color: #7c8073;
    --minima-brand-color-light: #fff4b3;
    --minima-brand-color-dark: #ccac00;
    --minima-site-title-color: #424242;
    --minima-text-color: #111111;
    --minima-background-color: #fdfdfd;
    --minima-code-background-color: #f5f5f5;
    --minima-link-base-color: #088cc8;
    --minima-link-visited-color: #007fb9;
    --minima-link-hover-color: #111111;
    --minima-border-color-01: #eaff91;
    --minima-border-color-02: #dbdbdb;
    --minima-border-color-03: #424242;
    --minima-table-text-color: #3f3f3f;
    --minima-table-zebra-color: #f7f7f7;
    --minima-table-header-bg-color: #f0f0f0;
    --minima-table-header-border: #e0e0e0;
    --minima-table-border-color: #e8e8e8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --minima-brand-color: #01cdfe;
        --minima-brand-color-light: #ff71ce;
        --minima-brand-color-dark: #b300b3;
        --minima-site-title-color: #e0e0e0;
        --minima-text-color: #d1d1d1;
        --minima-background-color: #1a1a2e;
        --minima-code-background-color: #1a141e;
        --minima-link-base-color: #01cdfe;
        --minima-link-visited-color: #b967ff;
        --minima-link-hover-color: #05ffa1;
        --minima-border-color-01: #b35ce2;
        --minima-border-color-02: #b967ff;
        --minima-border-color-03: #ff00ff;
        --minima-table-text-color: #ff71ce;
        --minima-table-zebra-color: #2d1b2e;
        --minima-table-header-bg-color: #1a1a2e;
        --minima-table-header-border: #ff71ce;
        --minima-table-border-color: #01cdfe;
    }
}